<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="employee" class="com.kodewala.practise.Office.Employee">
        <property name="managerName" value="Raja Rao" />
        <property name="managerSalary" value="120000" />
        <property name="companyName" value="TechSoft Pvt Ltd" />
        <property name="companyNeytWorth" value="9000000000" />
    </bean>

</beans>


